<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="QSFB" connectionString="Database=intelligentSecurityDB;Server=192.168.0.196;uid=sa;pwd=1qaz2wsx;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="QSFB" connectionString="Database=intelligentSecurityDB;Server=.;uid=sa;pwd=1QAZ2WSX;" providerName="System.Data.SqlClient"/>-->
    <add name="QSFB" connectionString="server=127.0.0.1;user id=root;password=root;port=3306; persistsecurityinfo=False;Charset=gbk; database=intelligentSecurityDB"  providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>